<div class="container mt-5">
    <h2>Sobre Nosotros</h2>
    <p>Bienvenido a nuestra panadería. Somos una panadería familiar dedicada a ofrecer los mejores productos horneados desde 1945.</p>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="assets/images/bakery.jpg" class="img-fluid" alt="Panadería">
      </div>
      <div class="col-md-6">
        <h3>Nuestra Historia</h3>
        <p>Comenzamos como una pequeña panadería en (local en construccion) con el sueño de compartir nuestro amor por el pan fresco y delicioso con la comunidad. A lo largo de los años, hemos crecido y expandido, pero nuestro compromiso con la calidad y la tradición se mantiene intacto.</p>
        <h3>Nuestros Valores</h3>
        <ul>
          <li>Calidad en cada producto</li>
          <li>Servicio al cliente excepcional</li>
          <li>Innovación en recetas tradicionales</li>
        </ul>
      </div>
    </div>
</div>