<h2>Carrito de Compras</h2>
<table class="table table-striped">
    <thead class="table-primary">
        <tr>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio Unitario</th>
            <th scope="col">Sub Total</th>
            <th scope="col">Quitar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productsCart$ | async">
            <td>{{product.name}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.price | currency}}</td>
            <td>{{product.totalPrice | currency}}</td>
            <td><button class="btn btn-danger" type="button" (click)="deleteFromCart(product.name)">Quitar</button></td>
        </tr>       
        <tr>
            <td colspan="3" class="text-end"><strong>Total</strong></td>
            <td><strong>{{cartTotalPrice$ | async | currency}}</strong></td>
            <td></td>
        </tr>
    </tbody>
</table>